/*
-------------------------
        MIXINS
-------------------------
*/    
@use "variables" as *;

// @mixin main-coloring{
//     background-color: $main-color ;
//     color: $secondary-color;
// }

@mixin button-orange{
    background-color: $first-color-button;
    color: $third-color-button;
    border:none;
    font-size: 12px ;
    color:$fifth-color-button;
    font-weight: bolder;
    padding: 15px;
    width: 200px;
}
@mixin button-blue{
    background-color: $second-color-button;
    color: $third-color-button;
    border:none;
    font-size: 12px ;
    color: $fifth-color-button;
    font-weight: bolder;
    padding: 15px;
    width: 200px;
}