/*
-------------------------
        VARIABLES
-------------------------
*/         

// BUTTON COLOR BG
$first-color-button: #FFA737;
$second-color-button: #556EED;
$third-color-button: #F7F8F9;

//COLOR TEXT
$first-color-text: #607AFE;
$second-color-text: #202020;
$third-color-text: #5D5F64;
$fourth-color-text:#FFA737;
$fifth-color-button: #F7F8F9;

//BACKGROUND-COLOR
$first-color-bg: #001061;
$second-color-bg: #f8f8f8;

//FONT_SIZE
$first-size:8px;
$second-size:9px;
$third-size:10px;

//DEBUG
$debug-color: 2px solid yellow;